.NavDiv {
    background-color: rgba(7, 85, 7, 0.577);
    display: flex;
    justify-content: space-around;
    height: 10vh;
    align-items: center;
}

.amplify-collection-items {
    align-items: center;
}
